<h1>List of all actors</h1>
<hr>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th> </th>
  </tr>

<%@actor_array.each do |actor|%>
  <tr>
      <td><%=@actor_id=actor.id%></td>
      <td><img src="<%=@actor_image=actor.image%>" style="width:250px;"></td>
      <td><%=@actor_name=actor.name%></td>
      <td><%=@director_dob=actor.dob%></td>
      <td><a href="/actors/@actor_id">Show details</a></td>
    </tr>
  <%end%>

</table>
