<h1> Actor blank details</h1>
<a href="/actors">Go back</a>
<hr>

<dl>
<dt>Name</dt>
  <dd></dd>
<dt>Dob</dt>
  <dd></dd>
<dt>Bio</dt>
  <dd></dd>
<dt>Image</dt>
  <dd></dd>
<dt>Created at</dt>
  <dd></dd>
<dt>Updated at</dt>
  <dd></dd>
</dl>


<hr>

<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Character name</th>
    <th> </th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
