<h1>List of all directors</h1>
<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th> </th>
  </tr>


  
  <%@director_array.each do |director|%>
  <tr>
      <td><%=@director_id=director.id%></td>
      <td><img src="<%=@director_image=director.image%>" style="width:250px;"></td>
      
      <td><%=@director_name=director.name%></td>
      <td><%=@director_dob=director.dob%></td>
      <td><a href="/directors/@director_id">Show details</a></td>
    </tr>
  <%end%>
  
  
</table>
