<h1> Director #<%=@director_id%> details</h1>
<a href="/directors">Go back</a>

<dl>
<dt>Name</dt>
  <dd></dd>
<dt>Dob</dt>
  <dd></dd>
<dt>Bio</dt>
  <dd></dd>
<dt>Image</dt>
  <dd></dd>
<dt>Created at</dt>
  <dd></dd>
<dt>Updated at</dt>
  <dd></dd>
</dl>

<hr>

<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th> </th>
  </tr>

  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
</table>
