<h1> Movie #<%=@movie_id%> details</h1>
<a href="/movies">Go back</a>
<hr>

<dl>
<dt>Title</dt>
  <dd></dd>
<dt>Year</dt>
  <dd></dd>
<dt>Duration</dt>
  <dd></dd>
<dt>Description</dt>
  <dd></dd>
<dt>Image</dt>
  <dd></dd>
<dt>Director</dt>
  <dd></dd>
<dt>Created at</dt>
  <dd></dd>
<dt>Updated at</dt>
  <dd></dd>
</dl>
